<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/livraria.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <!-- <img class="n-logo" src="assets/img/now-logo.png" alt=""> -->
              <h1 class="h1-seo">Sua Livraria online</h1>
              <h3>Os melhores livros para os seus melhores momentos</h3>
          </div>

      </div>
  </div>

  <div class="main">
    
      
   

      <div class="section section-nucleo-icons">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <h2 class="title">Mais de 1 milhão de livros</h2>
                      <h5 class="description">
                          São livros de aventura, ficção científica, policial, comédia, drama entre outros. Você e sua família têm tudo o que você precisa num só lugar. Venha ser feliz conosco!
                      </h5>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="icons-container">
                          <i class="now-ui-icons ui-1_send"></i>
                          <i class="now-ui-icons ui-2_like"></i>
                          <i class="now-ui-icons transportation_air-baloon"></i>
                          <i class="now-ui-icons text_bold"></i>
                          <i class="now-ui-icons tech_headphones"></i>
                          <i class="now-ui-icons emoticons_satisfied"></i>
                          <i class="now-ui-icons shopping_cart-simple"></i>
                          <i class="now-ui-icons objects_spaceship"></i>
                          <i class="now-ui-icons media-2_note-03"></i>
                          <i class="now-ui-icons ui-2_favourite-28"></i>
                          <i class="now-ui-icons design_palette"></i>
                          <i class="now-ui-icons clothes_tie-bow"></i>
                          <i class="now-ui-icons location_pin"></i>
                          <i class="now-ui-icons objects_key-25"></i>
                          <i class="now-ui-icons travel_istanbul"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="section section-signup" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
      </div>


  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Anselme Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy; {{data | date: 'yyyy'}} by Thiago Anselme
          </div>
      </div>
  </footer>
</div>
